ATTR{product}=="UDT1CR-I", ATTR{idVendor}=="04d8", SYMLINK+="can%n"
ACTION=="add", ATTR{product}=="UDT1CR-I", ATTR{idVendor}=="04d8", RUN+="/usr/src/udt1_linux_driver-0.1/udt1cri.sh"

ATTR{product}=="UDT1FR-I", ATTR{idVendor}=="04d8", SYMLINK+="can%n"
ACTION=="add", ATTR{product}=="UDT1FR-I", ATTR{idVendor}=="04d8", RUN+="/usr/src/udt1_linux_driver-0.1/udt1cri.sh"
